.come-on {
  display: flex;

  picture {
    margin-left: -21%;
  }

  @media (max-width: $tablet-width) {
    overflow: hidden;
    flex-direction: column;

    picture {
      margin-left: 0;
    }

    .form {
      margin-bottom: 0;
    }
  }
}

.come-on__form-wrapper {
  min-width: 54%;
}

.come-on__heading {
  font-size: 48px;
  text-transform: unset;

  @media (max-width: $tablet-width) {
    font-size: 32px;
  }
}

.come-on__about {
  max-width: 75%;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    max-width: unset;
  }
}

.come-on__img {
  width: auto;

  @media (max-width: $tablet-width) {
    object-fit: cover;
    width: 160%;
    height: auto;
    margin-left: -80px;
  }
}
