.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 320px;

  &--bottom {
    .btn {
      max-width: 242px;
      margin: 0 auto;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}

input {
  box-sizing: border-box;
  max-height: 45px;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: $basic-white;
  border-radius: 40px;
  background: transparent;
  border: 1px solid $basic-white;
}

.form__input {
  position: relative;

  &--name {
    background: 95% 50% no-repeat url("../img/icons/user.svg");
  }

  &--email {
    background: 95% 50% no-repeat url("../img/icons/email.svg");
  }

  &--phone {
    background: 95% 50% no-repeat url("../img/icons/phone.svg");
  }
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: #831B1B;
  border-color: #831B1B !important;
}

label.error {
  margin-top: -25px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#phone1-error,
#phone2-error {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}
