.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 115px;
  padding: 30px 90px 115px;
  background: no-repeat 100% 0 url('../img/bcg/promo-bcg.webp');

  @media (max-width: $tablet-width) {
    gap: 40px;
    padding: 20px;
    background: no-repeat 100% 255px url('../img/bcg/promo-bcg-mob.webp');
  }
}

.promo__heading {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  max-width: 60%;
  margin-bottom: 400px;

  @media (max-width: $tablet-width) {
    max-width: unset;
    font-size: 36px;
  }
}

.promo__about{
  margin-bottom: 30px;
  max-width: 40%;

  @media (max-width: $tablet-width) {
    max-width: unset;
  }
}
