.review {
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.review__heading {
  max-width: 65%;

  @media (max-width: $tablet-width) {
    max-width: unset;
  }
}

.review__about {
  margin-bottom: 30px;
  max-width: 41%;

  @media (max-width: $tablet-width) {
    max-width: unset;
  }
}

.review__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 30px;
  background: $basic-white;
  border: 1px solid $att-color;
  border-radius: 15px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: radial-gradient(49.95% 46.4% at 97.85% 97.51%, rgba(150, 150, 150, 0.2) 0%, rgba(150, 150, 150, 0) 100%),
    radial-gradient(118% 107.4% at 4.55% 8.29%, rgba(210, 255, 253, 0.87) 0%, rgba(210, 255, 253, 0) 100%);

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.review__avatae-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.review__name-wrapper {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  text-transform: uppercase;

  cite {
    font-size: 12px;
    font-style: normal;
  }
}

.review__img {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid $basic-white;
}

.review__blockquote {
  margin-bottom: 40px;
  font-size: 16px;
  text-transform: uppercase;
}

.review__time {
  margin-top: auto;
  font-size: 14px;
  color: $review-time-color;
}
