html {
  scroll-behavior: smooth;
  background:  $page-bcg;
}

h1,
h2,
h3,
p,
ul,
blockquote {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

a,
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-only {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
  }
}

.desktop-only {
  display: flex;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  color: $basic-white;
  background-color: $main-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 40px;
  border: none;

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.50);
  }

  &:active {
    opacity: 0.8;
  }

  &--transpanent {
    width: fit-content;
    padding: 10px 17px;
    border: 1px solid $main-color;
    background: transparent;

    &:hover {
      background: $main-color;
      box-shadow: none;
    }
  }

  .btn__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    fill: none;
    background: $basic-white;
    border-radius: 50%;
  }
}

#button-play {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: $main-color;
  border: none;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $tablet-width) {
    top: 30%;
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: $tablet-width) {
    padding: 0 20px;
  }
}

.heading {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }
}
